:host {
    $background: #e1e1e1;
    $outline: #4fc7ff;
    font-family: inherit;
    border: none;
    background-color: $background;
    outline-offset: 0px;
    transition: all 100ms ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        background-color: darken($color: $background, $amount: 10%)
    }

    &:focus-visible {
        outline: 1px solid $outline;
        outline-offset: 3px;
    }

    &:active, &[aria-pressed=true], &[aria-checked=true] {
        background-color: $outline;
    }

    &.button {
        padding: 0.3rem 0.5rem;
    }
    
    &.button-icon {
        width: 2rem;
        height: 2rem;
        padding: 0;
    }
}

