@import '../../../../colors.scss';

:host {
    display: flex;
    height: 100%;
}

svg {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #0e162d;
}

text {
    pointer-events: none;
    user-select: none;
    fill: white;
}

line.segment {
    stroke-width: 1;
    stroke: white;
}

.selection {
    stroke-width: 1;
    fill: rgba($blue-color, 0.05);
    stroke: $blue-color;
}

app-scale {
    position: fixed;
    top: 15px;
    right: 15px;
}

app-bar-scale {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

app-toolbar {
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}