<svg preserveAspectRatio="xMidYMid meet" appResize appDrag (wheel)="wheel$.next($event)" (resize)="resize$.next($event)"
  (dragEnd)="dragEnd$.next()" (drag)="drag$.next($event)" (click)="click$.next($event)"
  (mousemove)="mousemove$.next($event)">

  <g app-grid [xAxis]="(xAxis$ | async) || 0" [yAxis]="(yAxis$ | async) || 0"
    [xLines]="(gridLinesVertical$ | async) || []" [yLines]="(gridLinesHorizontal$ | async) || []"></g>

  @for (object of (objects$ | async); track object.id) {
  <g app-segment [segment]="object.geometry" [selected]="false"></g>
  }

  <text x="10" y="30">{{ position$ | async | json }}</text>

  @if (mouseTooltip$ | async; as tooltip) {
  <g app-cursor-tooltip [cursorData]="tooltip"></g>
  }

  @if (draftSegment$ | async; as draft) {
  <line class="segment" [attr.x1]="draft[0].x" [attr.x2]="draft[1].x" [attr.y1]="draft[0].y" [attr.y2]="draft[1].y">
  </line>
  }

  @if (selectionArea$ | async; as selection) {
  <rect class="selection" [attr.x]="selection.point.x" [attr.y]="selection.point.y" [attr.width]="selection.width"
    [attr.height]="selection.height"></rect>
  }

</svg>

<app-toolbar></app-toolbar>

<app-scale [scale]="zoom$ | async" (scaleChange)="scaleChange$.next($event)"></app-scale>

@if (barScale$ | async; as barScale) {
<app-bar-scale [step]="barScale.step" [width]="barScale.stepWidth"></app-bar-scale>
}