<svg
  preserveAspectRatio="xMidYMid meet"
  appResize
  appDrag
  (wheel)="wheel$.next($event)"
  (resize)="resize$.next($event)"
  (dragEnd)="dragEnd$.next()"
  (drag)="drag$.next($event)"
>
  <defs>
    <pattern id="p" x="0" y="0" width=".05" height=".05">
      <line
        stroke-width="1"
        stroke="light-grey"
        x1="0"
        x2="10"
        y1="10"
        y2="10"
      ></line>
      <line
        stroke-width="1"
        stroke="light-grey"
        x1="10"
        x2="10"
        y1="0"
        y2="10"
      ></line>
    </pattern>
  </defs>

  <line
    stroke-width="1"
    stroke="gray"
    [attr.x1]="xAxis$ | async"
    [attr.x2]="xAxis$ | async"
    [attr.y1]="0"
    [attr.y2]="'100%'"
  ></line>

  <line
    *ngFor="let xline of xGridLines$ | async"
    stroke-width="1"
    stroke="cyan"
    [attr.x1]="xline"
    [attr.x2]="xline"
    [attr.y1]="0"
    [attr.y2]="'100%'"
  ></line>

  <line
    stroke-width="1"
    stroke="gray"
    [attr.y1]="yAxis$ | async"
    [attr.y2]="yAxis$ | async"
    [attr.x1]="0"
    [attr.x2]="'100%'"
  ></line>

  <line
    *ngFor="let segment of objects$ | async"
    stroke-width="1"
    stroke="black"
    [attr.x1]="segment[0].x"
    [attr.x2]="segment[1].x"
    [attr.y1]="segment[0].y"
    [attr.y2]="segment[1].y"
  ></line>

  <text x="10" y="30">{{ position$ | async | json }}</text>
  <text x="10" y="50">{{ zoom$ | async }}</text>

  <rect></rect>
</svg>
